body {
    background-color: lightblue;
    width:1000px;
    height:100px;
    padding:50px;

}
#middle {
    margin-left:auto;
    margin-right:auto;
    width:904px;
}

#left {
    width:200px;
    height:400px;
    margin:auto 50px;
    float:left;
    
    border:solid thin;
   padding-left:50px;
   padding-right:50px;
   padding-top:100px;
  
}

#right {
  width:400px;
    height:400px;
    margin:auto 50px;
    float:right;
    
    border:solid thin;
      padding-left:50px;
   padding-right:50px;
   padding-top:100px;
}

.validator{color:red;}